//
// Style scrollbar

/* total width */
::-webkit-scrollbar {
  background-color: $scrollbar-bg-color;
  width: 5px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: $scrollbar-bg-color;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: $scrollbar-primary-color;
  border-radius: 0px;
  border: 0px solid $scrollbar-bg-color;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}
